
<div class="container mx-auto mt-20 h-screen pt-20" id="mini_projects">
    <div class="flex flex-row">
        <hr class="my-auto z-0 w-full border-black">
        <p class="px-20 text-5xl font-extralight md:tracking-wide">PROJECTS</p>
        <hr class="my-auto z-0 w-full border-black">
    </div>
    <div class="container mt-2 flex flex-row transition ease-linear hover:scale-110">
        <a href="#" class="text-center mx-auto text-gray-800">
            View all Projects ->
        </a>
    </div>
    <div class="flex flex-row mt-24">
        <div class="basis-1/3">
            <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore esse voluptatibus modi vero ea, veniam quis, alias optio labore, reprehenderit perspiciatis eos. Maiores praesentium, pariatur saepe perspiciatis deserunt amet? Illo?
            </p>
        </div>
        <div class="container basis-2/3 px-10">
            <div class="grid grid-cols-3 gap-5">
                <%- include('mini_projects_node.ejs')  %> 
                <%- include('mini_projects_node.ejs')  %> 
                <%- include('mini_projects_node.ejs')  %> 
                <%- include('mini_projects_node.ejs')  %> 
                <%- include('mini_projects_node.ejs')  %> 
                <%- include('mini_projects_node.ejs')  %> 
            </div>
        </div>

    </div>
</div>
