<!DOCTYPE html>
<html lang="en">
<head>
    
    
</head>
<body>
    <div class="flex flex-row overflow-hidden h-screen w-screen ">

        <div class="w-full px-2 md:px-10 2xl:px-36 overflow-y-scroll scroll-smooth">
            <div>
                <div class="flex flex-row pt-24 xl:mb-14 " id="tags">
                    <hr class="my-auto z-0 w-full border-black hidden md:block">
                    <p class="lg:px-20 text-3xl lg:text-5xl min-w-max font-extralight md:tracking-wide mx-auto">things I've made </p>
                    <hr class="my-auto z-0 w-full border-black hidden md:block">
                </div>
                <div class="grid grid-rows-1 xl:grid-cols-3 gap-5 md:gap-20">
                    <div class="p-6">
                        <p class="text-lg mb-4 ">Tags</p>
                        <div class="grid grid-cols-2 md:grid-cols-3 2xl:grid-cols-4 gap-4 col-span-2 drop-shadow-md">
                            <button class="rounded-sm border-2 border-slate-900 p-1 hover:text-white hover:bg-slate-800 bg-slate-50 text-black transition ease-in" onclick="tagClicked('All')">
                                All
                            </button>
                            <% tags.forEach(tag => { %>
                                <button class="rounded-sm border-2 border-slate-900 text-sm hover:text-black hover:bg-slate-50  bg-slate-800 text-white transition ease-in" onclick="tagClicked('<%= tag %>')">
                                    <%= tag %>
                                </button>
                            <% }) %>
                        </div>
                        
                        <div class="container flex text-sm font-mono my-5">
                            <p class="" id="tag_show">Showing All</p>
                            <a class="ml-auto text-md" href="alternative"> Alternative Page</a>
                        </div>
                        <!-- Check if user -->
                        <% if (locals.user) { %>
                            <div class="mb-10 flex">
                                <a href="add" class="text-center w-full rounded-md bg-green-800 py-2 font-bold hover:bg-green-600 transition ease-linear text-white">Add New Project</a>
                            </div>
                        <% } %>
                        <div class="grid grid-rows-3 lg:grid-cols-2 gap-3" id="projects_container">
                            <% all_projects.forEach(project => { %>
                                <div id=<%= project.safe_name %>> 
                                    <div class="rounded-xl w-full h-28 border-slate-900 hover:border-white transition ease-linear border-2 relative flex" id="<%= project.name %>">
                                        <!--<img src="/projects/<%= project.banner %>" class="rounded-xl drop-shadow-2xl shadow-xl h-48 w-80 object-cover" alt="">-->
                                        <div class="rounded-xl absolute bg-cover bg-center w-full h-full z-0 " style="background-image: url('/projects/<%= project.banner %>');"></div>
                                        <a href="#" onclick="showProject('<%= project.safe_name %>')">
                                            <div class="rounded-xl opacity-0 hover:opacity-100 hover:bg-black hover:bg-opacity-70 p-4  w-full h-full ease-linear transition z-10 absolute text-white text-lg font-bold "><%= project.name %></div>
                                        </a>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                    <div class="xl:col-span-2" id="projects_panel">
                        <% all_projects.forEach(project => { %>
                            <div id='card-<%= project.safe_name %>' class="hidden col-span-2">
                                    <div class="  grid grid-cols-1 rounded-md  lg:grid-cols-12 p-6">
                                        <div class="flex flex-col lg:col-span-8 lg:p-8  rounded-xl">
                                            
                                                <% if (locals.user) { %>
                                                    <div class="flex flex-row  ">
                                                        <a href="update/<%= project.safe_name %>" class="text-green-500 p-1">Edit</a>
                                                        <a href="delete/<%= project.safe_name %>" class="text-red-500 p-1">Delete</a>
                                                    </div>
                                                <% } %>
                                                
                                            <div class="flex flex-row">
                                                <div class="flex flex-row">
                                                    <a href="view/<%= project.safe_name %>"  class="text-2xl font-semibold ">
                                                        <%= project.name %>
                                                    </a>
                                                </div>
                                                <a target="_blank" href="<%= project.projectLink %>" class="ml-auto text-md"> <i class=" bi bi-github"></i> Github </a>
                                            </div>

                                            <hr>
                                            <div class="md:text-md text-justify is_markdown" id="desc-<%= project.safe_name %>">
                                                <%= project.description %>
                                            </div>
                                            
                                            <p class="mb-2 mt-10 font-semibold">Latest Commits</p>
                                            <hr>
                                            <div class="grid grid-cols-6">
                                                <div class="col-span-2">
                                                    <p id="latest-commit-<%= project.safe_name %>-author"></p>
                                                    <p id="latest-commit-<%= project.safe_name %>-date"></p>
                                                </div>
                                                <p class="col-span-4" id="latest-commit-<%= project.safe_name %>">

                                                </p>
                                            </div>
                                        </div>
                                        <div class="ml-auto lg:col-span-4 w-full h-56 mx-auto p-2 pt-8">
                                            <% if (project.banner == "") { %>
                                                <img class="object-cover w-full h-full bg-center rounded-md shadow-2xl border-2 border-gray-900 "  src="/media/placeholder_small.jpg" alt="">
                                            <% } else { %>
                                                <img class="object-cover w-full h-full bg-center rounded-md shadow-2xl border-2 border-gray-900 "  src="/projects/<%= project.banner %>" alt="">
                                            <% } %>
                                            <div class="flex flex-row mt-2 ">
                                                <% project.tags.forEach(tag => { %>
                                                    <span class="inline-block text-sm bg-slate-800 text-white px-2 mr-1 rounded-md font-sans">
                                                        <%= tag %>
                                                    </span>
                                                <% }) %>
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                        <% }) %>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.0.0/showdown.min.js"></script>
    <script src="/js/projects.js"></script>
</body>
</html>